@using System;
@using System.Net;
@using misfits_festival.Shared.Models;
@using Dapper;
@using Npgsql;
@using misfits_festival.Client.Services;
@using misfits_festival.Client.Pages;
@using System.Net.Http;

@inject Blazored.LocalStorage.ILocalStorageService localStore

@page "/bruger"

<h3>Bruger side</h3>

Skriv din email herunder:
<br />
<input @bind="brugerEmail" />
<br />
<button @onclick="UpdateLocalStorage">Save</button>
<button @onclick="ClearLocalStorage">Clear</button>

    Din bruger email er: @brugerEmail

    <div class="parent">

        <div class="vagter">
            <!--<div class="ledigevagter">-->

            <h1>Ledige vagter</h1>

            <table>
                <tr>
                    <th>Dato</th>
                    <th>Vagt start</th>
                    <th>Vagt slut</th>
                    <th>Pause</th>
                    <th>Område</th>
                    <th>Opgave beskrivelse</th> <!--Dette skal evt laves til en join m. OpgaveBeskrivelse i stedet-->
                </tr>
                @foreach (var vagt in LedigeVagter)
                {
                    <tr>
                        <td>@vagt.Dato.ToShortDateString()</td>
                        <td>@vagt.VagtStart</td>
                        <td>@vagt.VagtSlut</td>
                        <td>@vagt.Pause</td>
                        <td>@vagt.Område</td>
                        <td>@vagt.OpgaveBeskrivelse</td>
                    </tr>
                }
            </table>
            <!--</div>-->

            <br />

            @if (BrugerVagter.Count() == 0)
            {
                <h3>Der er ingen vagter at vise</h3>
            }
            else
            {
                <h1>Dine vagter</h1>

                <table>

                    <tr>
                        <th>Vagt ID</th>
                        <th>Dato</th>
                        <th>Vagt start</th>
                        <th>Vagt slut</th>
                        <th>Pause</th>
                        <th>Område</th>
                        <th>Opgave beskrivelse</th>
                        <th>Bruger email</th>
                    </tr>
                    @foreach (var vagt in BrugerVagter)
                    {
                        <tr>
                            <td>@vagt.VagtId</td>
                            <td>@vagt.Dato.ToShortDateString()</td>
                            <td>@vagt.VagtStart</td>
                            <td>@vagt.VagtSlut</td>
                            <td>@vagt.Pause</td>
                            <td>@vagt.Område</td>
                            <td>@vagt.OpgaveBeskrivelse</td>
                            <td>@vagt.BrugerEmail</td>
                        </tr>
                    }

                </table>
            }


        </div>

        <br />

        <div class="brugerprofil">

            <h1>Din profil</h1>


            <table>

                <tr>
                    <th>Brugernavn</th>
                    <th>Bruger email</th>
                    <th>Telefonnummer</th>
                    <th>Kompetencer</th>
                </tr>

                @foreach (var bruger in Brugere)
                {
                    <tr>
                        <td>@bruger.BrugerNavn</td>
                        <td>@bruger.BrugerEmail</td>
                        <td>@bruger.TelefonNummer</td>
                        <td>@bruger.Kompetencer</td>
                        <button class="btn btn-success" @onclick="() => OpdaterBruger(bruger)">Opdater din profil</button>
                    </tr>
                }

            </table>

            <br />

            <EditForm EditContext="@EditContext" class="row p-3">
                <!--Form til opdatering af en brugerens profil-->
                <h3>Opdater din profil</h3>

                <div class="col-2 mb-3">
                    <label for="NyBrugerNavn">Brugernavn</label>
                    <InputText id="NyBrugerNavn" @bind-Value="Bruger.BrugerNavn" class="form-control" />
                </div>

                <br />

                <div class="col-2 mb-3">
                    <label for="NyBrugerStart">Bruger email</label>
                    <InputText id="NyBrugerEmail" @bind-Value="Bruger.BrugerEmail" class="form-control" />
                </div>

                <br />

                <div class="col-2 mb-3">
                    <label for="NyTelefonnumer">Telefonnummer</label>
                    <InputText id="NyTelefonnummer" @bind-Value="Bruger.TelefonNummer" class="form-control" />
                </div>

                <br />
                <br />

                <div class="col-12 mb-3">
                    <button class="btn btn-primary" @onclick="UpdateBrugerHandler">Opdater profil</button>
                </div>


            </EditForm>


        </div>

    </div>


    @code {
        const string noteKey = "note";
        string? brugerEmail = "";

        private EditContext EditContext;
        private int ErrorCode { get; set; }

        public async void UpdateLocalStorage()
        {
            await localStore.SetItemAsync(noteKey, brugerEmail);
        }

        public async void ClearLocalStorage()
        {
            brugerEmail = "";
            await localStore.ClearAsync();
        }

        private List<Vagt> LedigeVagter = new List<Vagt>(); // liste til ledige vagter

        // definerer en bruger og en liste af brugerens vagter
        private Bruger Bruger = new Bruger();
        private List<Bruger> Brugere = new List<Bruger>();
        private List<Vagt> BrugerVagter = new List<Vagt>();

        // interfaces der tages i brug i dette component
        [Inject]
        public IBrugerService BrugerService { get; set; }
        [Inject]
        public IVagtService VagtService { get; set; }

        protected override void OnInitialized()
        {
            EditContext = new EditContext(Bruger);
        }

        private async Task UpdateBrugerHandler() // implementerer UpdateVagt(vagt) fra VagtService
        {
            ErrorCode = await BrugerService.UpdateBruger(Bruger);
            Console.WriteLine("Vagt opdateret: " + ErrorCode);
            Bruger = new Bruger();
            EditContext = new EditContext(Bruger);
        }

        protected override async Task OnInitializedAsync()
        {
            brugerEmail = await localStore.GetItemAsync<string?>(noteKey);
            LedigeVagter = (await VagtService.GetLedigeVagter()).ToList();// populater LedigeVagter vha. metoden i VagtService

            Brugere = (await BrugerService.GetBruger(brugerEmail)).ToList();
            // Bruger = (await BrugerService.GetBruger(brugerEmail));
            BrugerVagter = (await VagtService.GetMineVagter(brugerEmail)).ToList(); // populater MineVagter vha. metoden i VagtService
        }

        private async Task OpdaterBruger(Bruger bruger)
        {
            Bruger.BrugerId = bruger.BrugerId;
            Bruger.BrugerNavn = bruger.BrugerNavn;
            Bruger.BrugerEmail = bruger.BrugerEmail;
            Bruger.TelefonNummer = bruger.TelefonNummer;
        }


    }
